<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
    </head>
    <body>
        <h1>Hello World !! You can change password with the Token now!!</h1>
        <div><em>Token: </em>{{token}}</div>
        <br>
        <div><em>Url: </em>{{url}}</div>
        <br>
        <a href="www.google.com"></a>
    </body>
</html>
